<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Car Parking System</title>

    <link rel="stylesheet"
    href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

    <div class="navbar">

        <h1>Car Parking System</h1>

        <div>

            <a href="/">Home</a>

            <a href="/park_vehicle">Park Vehicle</a>

            <a href="/view_vehicles">Vehicles</a>

            {% if session.get('is_admin') %}

                <a href="{{ url_for('admin_dashboard') }}">
                    Dashboard
                </a>

            {% endif %}

            {% if session.get('user_id') %}

                <a href="/logout" class="logout-btn">Logout</a>

            {% else %}



                <a href="/login">Login</a>

                <a href="/register">Register</a>

            {% endif %}

        </div>

    </div>

    <div class="container">
        {% with messages = get_flashed_messages() %}

            {% if messages %}

                {% for message in messages %}

                <div class="flash-message">
                    {{ message }}
                </div>

                {% endfor %}

            {% endif %}

        {% endwith %}
        {% block content %}
        {% endblock %}
    </div>

</body>
</html>