/* -------------------------
   Global Styling
------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {

    background-image: url("/static/images/bg.jpg");

    background-size: cover;

    background-position: center;

    background-repeat: no-repeat;

    background-attachment: fixed;
}

.container,
table,
form {

    background: rgba(255, 255, 255, 0.1);

    backdrop-filter: blur(8px);

    border-radius: 15px;

    padding: 20px;
}

/*body {
    #font-family: Arial, sans-serif;
    background-color: #f4f6f9;
}

/* -------------------------
   Navbar
------------------------- */

.navbar {
    background-color: #df7b1e;
    color: white;
    padding: 15px 30px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar h2 {
    font-size: 28px;
}

.navbar ul {

    list-style: none;

    display: flex;

    align-items: center;
}

.navbar ul li {
    margin-left: 50px;
}

.logout-btn {

    margin-left: 5px;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: 0.3s;
}

.navbar ul li a:hover {
    color: #49b8e0;
}

/* -------------------------
   Container
------------------------- */

.container {
    width: 90%;
    margin: 30px auto;
}

/* -------------------------
   Headings
------------------------- */

h1 {
    text-align: center;
    margin-bottom: 25px;
    color: #01070b;
}

h2 {
    margin-top: 20px;
    margin-bottom: 15px;
    color: #f3f0d4;
}

/* -------------------------
   Cards
------------------------- */

.card {
    background: rgb(217, 189, 66);
    padding: 25px;
    margin: 20px 0;
    border-radius: 10px;

    box-shadow: 0px 4px 10px rgba(0,0,0,0.1);

    text-align: center;
}

.card h3 {
    margin-bottom: 10px;
    color: #1e3a8a;
}

.card p {
    font-size: 24px;
    font-weight: bold;
}

/* -------------------------
   Dashboard
------------------------- */

.dashboard {
    display: flex;
    gap: 20px;
}

/* -------------------------
   Forms
------------------------- */

.form-box {
    width: 450px;
    margin: auto;

    background: white;
    padding: 30px;

    border-radius: 10px;

    box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
}

.form-box input,
.form-box select {
    width: 100%;
    padding: 12px;
    margin-top: 15px;

    border: 1px solid #c2d7ef;
    border-radius: 5px;

    font-size: 16px;
}

.form-box button {
    width: 100%;
    padding: 14px;
    margin-top: 20px;

    background-color: #d77022;
    color: white;

    border: none;
    border-radius: 5px;

    font-size: 17px;
    cursor: pointer;

    transition: 0.3s;
}

.form-box button:hover {
    background-color: #1d4ed8;
}

/* -------------------------
   Tables
------------------------- */

table {
    width: 100%;
    border-collapse: collapse;

    background: white;

    box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
}

table th {
    background-color: #1e3a8a;
    color: white;
}

table th,
table td {
    padding: 15px;
    text-align: center;

    border: 1px solid #e2e8f0;
}

table tr:nth-child(even) {
    background-color: #f8fafc;
}

/* -------------------------
   Links
------------------------- */

a {
    color: #ef82b6;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

/* -------------------------
   Error Pages
------------------------- */

.error-page {
    text-align: center;
    margin-top: 100px;
}

.error-page h1 {
    font-size: 80px;
    color: #dc2626;
}

.error-page p {
    font-size: 22px;
    color: #475569;
}

/* -------------------------
   Responsive Design
------------------------- */

@media screen and (max-width: 768px) {

    .navbar {
        flex-direction: column;
    }

    .navbar ul {
        margin-top: 10px;
    }



    .dashboard {
        flex-direction: column;
    }

    .form-box {
        width: 100%;
    }

    table {
        font-size: 14px;
    }
}
.flash-message {

    background-color: #16a34a;

    color: white;

    padding: 12px;

    margin-bottom: 20px;

    border-radius: 5px;

    text-align: center;
}
.dashboard {

    display: grid;

    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));

    gap: 20px;

    margin-bottom: 30px;

    color: #bd3e30;
}
.status-parked {

    color: green;

    font-weight: bold;
}

.status-exited {

    color: red;

    font-weight: bold;
}

table td {

    padding: 12px;
}

.card p {

    margin: 8px 0;
}

a {

    text-decoration: none;

    background: #2563eb;

    color: white;

    padding: 8px 14px;

    border-radius: 5px;
}

a:hover {

    background: #f667a5;
}

.delete-btn {

    background: red;

    color: white;

    padding: 8px 12px;

    text-decoration: none;

    border-radius: 5px;
}

.delete-btn:hover {

    background: darkred;
}

.search-box {

    width: 300px;

    padding: 12px;

    border-radius: 8px;

    border: none;

    font-size: 16px;

    margin-bottom: 20px;
}

form button {

    padding: 12px 20px;

    background: #2563eb;

    color: white;

    border: none;

    border-radius: 8px;

    cursor: pointer;
}

form button:hover {

    background: #1d4ed8;
}

